<p id="notice"><%= notice %></p>

<h1>Personels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personels.each do |personel| %>
      <tr>
        <td><%= personel.name %></td>
        <td><%= personel.surname %></td>
        <td><%= link_to 'Show', personel %></td>
        <td><%= link_to 'Edit', edit_personel_path(personel) %></td>
        <td><%= link_to 'Destroy', personel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personel', new_personel_path %>
